include ppi-resources.md
include cellphonedb/src/core/cellphone.db
include cellphonedb/src/app/config/*.yml
include cellphonedb/src/core/data/*.csv
include cellphonedb/src/core/metadata.json
include cellphonedb/src/core/data/sources/*.csv
include cellphonedb/src/core/data/sources/*.txt
include cellphonedb/src/core/data/sources/*.xz
include cellphonedb/src/core/data/sources/*.tab
include cellphonedb/src/plotters/R/*.R