include QuickStart.md
include ppi-resources.md
include RESULTS-DOCUMENTATION.md
include src/core/cellphone.db
include src/app/config/*.yml
include in/example_data/*
include out/
include Docs/*.md
include Docs/images/*.png